
.footer-navbar {
	height: 6%;
	width: 50%;
	background-color: white;
	position: fixed;
	left: 25%;
	bottom: 0;
	margin: 0px;
	margin-bottom: 0px;
	padding: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	/*border-radius: 15% 15%;*/
}

.main-container {
	width:85%;
	position:absolute;
	left:7.5%;
	opacity:0.85;
}

.game-background {
	/*background-image: url('/images/kasut.JPG');*/
	background-size: cover;
}

.game-container {
	opacity:0.85;
	width: 90%;
	left: 5%;
	position: relative;
}

.big-text {
	color:grey;
	font-family:Impact;
	font-size:110px;
	text-align:center;
}

.big-text-sm {
	color:white;
	font-family:Impact;
	font-size:25px;
	text-align:center;	
}

.big-a {
	color:white;
	text-decoration:none;
}	

.tnav .navbar .container { height: 28px; }

.navbar-nav > li > a, .navbar-brand {
    padding-top:10px !important; 
    padding-bottom:0 !important;
    height: 28px;
}
.navbar {min-height:28px !important;}